<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="zulu_robot">

    <xacro:include filename="properties.xacro"/>

    <xacro:include filename="robot_core.xacro"/>

    <!-- Agregamos un link raíz común -->
    <link name="odom"/>

    <!-- Robot real -->
    <xacro:robot_core prefix="real_"/>

    <!-- Joint fijo que conecta el odom al robot real -->
    <joint name="odom_to_real" type="fixed">
        <parent link="odom"/>
        <child link="real_base_link"/>
    </joint>

    <!-- Robot ideal -->
    <xacro:robot_core prefix="ideal_"/>

    <!-- Joint fijo que conecta el odom al robot ideal -->
    <joint name="odom_to_ideal" type="fixed">
        <parent link="odom"/>
        <child link="ideal_base_link"/>
    </joint>

</robot>
